<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <link href="{% static 'forecaster/style.css' %}" rel="stylesheet">

    <title>Golden Fields</title>
  </head>

  <body>
      <div id="title">
          <h1 id="pageTitle"><strong><span id="golden">Golden<span> <span id="fields">Fields</span></strong></h1>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      </div>
      <div id="introParagraph">
          <h1>{{ current_location }}</h2>
          <h1>{{ current_temp }}</h3>
          <img src="{% static 'forecaster/mapPin.png' %}">
      </div>

      <div id="forecast">
          <form class="form-signin" method="POST" action="/forecaster/predict/">
              <input type="text" id="locText" name="location" placeholder="What city?">
              <button type="submit" id="button"><strong>Forecast</strong></button>
          </form>
      </div>
      <div id="sapce">
      </div>
  </body>

</html>
